.bg-green-solid {
    background-color: #00C9A7;
}

.bg-white-mint {
    background-color: #F0FFF9;
}

.text-green-solid {
    color: #00C9A7;
}

.text-green-dark {
    color: #00362d;
}

.text-white-mint {
    color: #F0FFF9;
}

.round-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 5px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.round-button.active {
    background-color: #00C9A7;
}

.cust-button {
    width: 100%;
}

@media (min-width: 992px) {
    .cust-button {
        width: 30%;
    }
}

.cust-input {
    width: 100%;
}

@media (min-width: 992px) {
    .cust-input {
        width: 30%;
    }
}

.img-splash {
    width: 60%;
    max-width: 100%;
}

.slice-circle {
    background-color: #E6F7F0;
    width: 90%;
    aspect-ratio: 1/1;
    max-height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 992px) {
    .slice-circle {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .img-splash {
        width: 25%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 300ms ease-in;
}